html, body{
    scroll-behavior: smooth;
}

.example::-webkit-scrollbar {
    display: none;
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}



.Title{
    position: relative;
    height: 55px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    /* identical to box height */

    color: #000000;
}


.Title #UnVerano{
    color: #E21808;  
} 


img{
    max-width: 276px;
    height: 276px;
    margin-top: 15%;

}

.container a{
    padding: 15px 35px;
    font-size: 24px;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    background-image: linear-gradient(to right, #FBBC7A 0%, #F7BFB5 51%, #AAD8EB 100%);
    font-weight: 700;
    font-family: 'Manrope';
    border: none;
    top: 50px;
    display: block;

}


.container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    right: auto;


}

.container section{
    min-width: 60%;
    min-height: 100%;
    margin-top: 80px;
    margin-bottom: auto;
    margin-left: 10%;
    height: auto;


    justify-content: left;
    align-items: center;

}

.container section:nth-child(1){
    margin-left: 40%;
    margin-top: 60px;
    
}

.container section:nth-child(2){

}

.answers{
    min-height: 100%;
    margin-bottom: 90px;
    justify-content: space-between;
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin-top: 40px;

}

.answers a:hover {
    background-color: orange;
    color: white;

}

.answers a{
    background: #E5E5E5;
    height: 100%;
    color: #000000;
    transition-duration: 0.2s;

}

ul{
    min-height: 100%;
    margin-bottom: 90px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;

    
}
li{
    height: 100%;
    width: 70%;
    min-width: 200px;
    margin-bottom: 20px;
    font-weight: 600;
}

#vamos{
    width: 276px;
    text-align: center;
    margin-top: 70px;
}

