html, body{
    scroll-behavior: smooth;
}

@keyframes transitionIn {
    from{
        background-color: white;
        opacity: 0;
    }

    to{
        background-color: black;
        opacity: 1;
    }
}

@keyframes transitionInText {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes transitionInSong {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.example::-webkit-scrollbar {
    display: none;
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}



.Title{

    position: relative;
    height: 55px;
    margin-top: 80px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size:calc(12px + 0.5vw);

    /* identical to box height */

    color: #000000;
}

.MainTitle{
    margin-top: 50px;
    font-size:calc(16px + 0.5vw);

}


.MainTitle #UnVerano{
    color: #E21808;  
} 


img{
    max-width: 25%;
    height: auto;
    margin-top: calc(60px - 2vw);

    min-width: 280px;
    
}

.container a{
    padding: 15px 35px;

    background: black;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    /*background-image: linear-gradient(to right, #FBBC7A 0%, #F7BFB5 51%, #AAD8EB 100%);*/
    font-weight: 700;
    font-family: 'Manrope';
    border: none;

    display: block;
    
}


.container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    right: auto;
}

.container section{
    min-width: 100%;
    /*padding-left: calc(30px + 5%);*/
    padding-left: calc(20vw - 10%);
    min-height: 100%;
    margin-bottom: auto;
    /*margin-left: calc(100px + 10%);*/
    height: auto;

}

.container section:nth-child(1){
    padding-left: 10%;
}

.answers{
    min-height: 100%;
    margin-bottom: 90px;
    justify-content: space-between;
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin-top: 40px;
    scroll-margin-right: 100px;
    

}

.answers a:hover {
    background-color: #ffa500;
    color: white;

}

.answers a{
    background: #E5E5E5;
    height: 100%;
    color: #000000;
    transition-duration: 0.2s;
    font-size: 100%;
}

ul{
    min-height: 100%;

    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;

    
}
li{
    height: 100%;
    width: 70%;
    min-width: 325px;
    margin-bottom: 20px;
    font-weight: 600;
}

#vamos{
    max-width: 276px;
    text-align: center;
    font-size:calc(12px + 0.5vw);

    margin-right: 60%;
    min-width: max-content;
    margin-top: 30px;

    
}


iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.recommend{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#share{
    width: 50px;
    height: 50px;
    background: #25D366;
    border-radius: 100%;
    border-color: transparent;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    animation: transitionInSong 16s;
    cursor: pointer;

}

#share:hover{
    box-shadow: 0px 0px 8px #D4D3D3;
    transition-duration: 0.2s;

    
}

#share img{
    width: 25px;
    height: 25px;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    
}

